body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
}

.divcontent {
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    padding-top:1px;
    background: #FFFFFF;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
}
#title_search{
    /*border-bottom:1px solid #ccc;*/
    overflow: hidden;
}
#section {
    width: 20%;
    height: 75px;
    text-align: left;
    line-height: 90px;
    /*border-bottom: 1px solid #ccc;*/
    font-size: 18px;
    color: #1D272C;
    letter-spacing: 0;
    clear: both;
    position: relative;
    float: left;
    margin-left:20px;
    line-height: 75px;
}
#bottom_line{
    width:110px;
    height:0;
    border: 1px solid #17b55b;
    position: absolute;
    /*left:485.5px;*/
    left:0;
    top:73px;
}

#section span {
    height: 160px;
}

#section span a {
    color: #A9A9A9;
    padding-left: 20px;
    padding-right: 20px;
}

#section span a:hover,
#section span.active a {
    color: #17b55b;
    /*padding-bottom: 18px;*/
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    /*border-bottom: 2px solid #17b55b;*/
}

#divsearch {
    width: 1200px;
    /*background-color: #F3F9FC;*/
    /*float: left;*/
    margin-bottom: 20px;
    overflow: hidden;
}
#divsearch>div{
    text-align: left;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    font-weight: 200;
    font-size: 14px;
    color: #333;
}

#divsearch ul {
    width: 830px;
    float: left;
    margin-left: 10px;
}

#divsearch ul li {
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

#divsearch .subject {
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #222222;
    letter-spacing: 0;
}

#divsearch ul li a:hover,
#divsearch ul li.active a {
    /*background-color: #2F96E9;*/
    background-color: #17b55b;
    color: white;
    opacity: 1;
}

#divsearch ul li a {
    padding: 4px 10px;
    border-radius: 3px;
    font-size: 13px;
    color: #222222;
    opacity: 0.6;
}
/*搜索结果样式*/
.search_list{
    clear: both;
    overflow: hidden;
    text-align: center;
    margin-bottom:10px;
    border:1px solid #dcdcdc;
}
.search_list:hover{
    border:1px solid #19b478;
}
.search_list>div{
    float: left;
}
.search_list>div>img{
    margin:14px 14px;
    display: block;
}
.search_list_img{
    /*width:120px;*/
}
.search_list_infor{
    width:1000px;
    margin-top:20px;
    margin-bottom:14px;
    text-align: left;
}
.search_list_infor_name a{
    font-size: 15px;
    color: #30bf89;
}
.search_list_infor_type{
    margin-top:17px;
    line-height: 20px;
    font-size: 13px;
    height: 40px;
}
.search_list_infor_type span{
    margin-right:15px;
}


#table {
    width: 1178px;
    height: 70px;
    background: #EFEFEF;
    border:1px solid #DCDCDC;
    clear: both;
    margin: 10px auto 10px;
}

#table .spantitle {
    font-size: 16px;
    float: left;
    line-height: 70px;
    margin-left: 20px;
    color: #222222;
}

#table .spantitle i {
    /*color: #FE8922;*/
    color: #17b55b;
    font-size: 20px;
}

#table .spancount {
    font-size: 12px;
    line-height: 40px;
    margin-right: 2%;
    color: #222222;
    float: right;
    opacity: 0.69;
}

.content {
    width: 1200px;
    /*height: 1000px;*/
    /*margin-top: -50px;*/
    min-height: 400px;
}

.content .menu-one {
    width: 1176px;
    margin: 0 auto;
    text-align: left;
}

.content .header {
    width: 1160px;
    height: 50px;
    line-height: 50px;
}

.content .header .txt {
    font-size: 15px;
    color: #222222;
}
.content .menu-two {
    font-size: 14px;
}
.content .menu-two a{
    color: #444;
}
.content .header>i {
    cursor: pointer;
}

.content .center {
    width: 300px;
    height: 50px;
    float: right;
    font-weight: normal;
    font-size: 10px;
}

.content .center span {
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 4px 7px;
    margin: 1px -15px;
    margin-left: 20px;
}

.content .center .right {
    color: #222222;
    border: none;
    float: right;
    opacity: 0.4;
    clear: both;
    padding: 0 15px;
}

.content .center .active {
    background-color: #FFAA33;
}

.content .menu-two {
    margin-top: 10px;
    display: none;
}

.content .menu-two span {
    /*font-size: 12px;*/
    /*color: #222222;*/
    /*border: 1px solid #C5C5C5;*/
    padding: 5px;/*padding: 3px 7px;*/
    border-radius: 3px;
    float: right;
    margin-right: 10px;
    width:10px;
    height:10px;
    opacity: 0.5;
}
.content .menu-two span:hover{
    opacity: 1;
}
.content .menu-two span a {
    color: #222222;
}

.content .menu-two .active {
    background-color: #FE8922;
    color: #FFFFFF;
    opacity: 1;
    border: none;
}

.content hr {
    /*width: 970px;*/
    margin-left: 30px;
    height: 8px;
    border: none;
    border-top: 1px solid #eee;
}

.content .menu-two li {
    margin: 0 0 0 30px;
}
.load_img{
    min-height:250px;
}
/*搜索*/
.bo_search{
    /*width:1200px;*/
    /*margin: 20px auto 0;*/
    float: right;
    height:36px;
    overflow: hidden;
    margin-top:16px;
    margin-right:20px;
    text-align: center;
    /*padding:10px 0 6px;*/
    background: #fff;
}
.bo_search>div{
    display: inline-block;
    /*border:1px solid #ccc;*/
    /*background: #ccc;*/
    border:1px solid #3db06e;
    background: #3db06e;
}
.spansearch{
    display: inline-block;
    height:34px;
    line-height: 34px;
    float:left;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;

}
.spansearch:hover{
    /*background: #7f7f7f ;*/
    background: #399d60 ;

}
.bo_search>div a i{
    width:60px;
    color: #fff;
    /*font-size: 16px;*/
    /*padding:0 10px;*/
}
.bo_search .txtsearch{
    width:357px;
    border:none;
    height:34px;
    outline: none;
    padding:5px;
    float: left;
}

/*没有信息*/
.no_info{
    min-height: 250px;
    background:url('../../img/no-info.png') no-repeat center center;
}
/*分页*/
.divPage{
    margin-top: 10px;
    width: 1200px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    clear: both;
}
.divPage a{
    padding: 6px 12px;
    border: solid 1px #DCDCDC;
    border-radius: 6px;
    font-size: 14px;
    color: #999;
}
.divPage a:hover{
    background: #BFBFC7;
    color: white;
}
.divPage .curr{
    border: solid 1px #BFBFC7;
    background: #BFBFC7;
    color: white;
}
.divPage .disabled
{
    display: none;
}