/*试题-题头*/
.daily_pra_title{
	justify-content: space-between;
	line-height: 1rem;
	border-bottom:0.013333rem solid #ddd;
}
.daily_pra_title span,.daily_pra_title span em{
	font-size: 0.426667rem;
}
.daily_pra_title span em{
	font-size: 0.4rem;
}
.daily_pra_title span b{
	font-size: 0.5rem;
}
.daily_pra_title span i{
	font-size: 0.346667rem;
	font-style: normal;
}

/*试题-内容*/
.swiper-container{
	min-height: 100%;
}
.daily_ques .question_cont{
	line-height:0.666667rem;
	font-size: 0.4rem;
	padding-top: 0.133333rem;
	padding-bottom: 0.133333rem;
	color: #333;
	font-weight: 500;
	white-space:normal; 
	word-break:break-all;
}
.daily_ques .question_cont p{
	white-space:normal; 
	word-break:break-all;
}
.daily_ques .question_option{

}
.daily_ques .question_option .question_option_item{
	/*justify-content: space-between;*/
	font-size: 0.373333rem;
	line-height:0.586667rem;
	padding:0.2rem 0;
	padding-left: 0.266667rem;
	color: #444;
	border-bottom:0.026667rem dotted #ddd;
}
.daily_ques .question_option textarea{
	height: 3rem;
	width: 8.5rem;
	color: #555;
	padding:0.266667rem;
	border:1px solid #777;
	margin-bottom: 0.133333rem;
	margin-left: 0.2rem;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
	font-size:0.373333rem;
}
.daily_ques .question_option .question_option_item input[type=text]{
	padding: 0.266667rem;
	width: 8.5rem;
	border:0.013333rem solid #777;
	color: #555;
}
.daily_ques .question_option .question_option_item label{
	/*width: 0.533333rem;
	height: 0.533333rem;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	padding:0.2rem;
	flex-shrink:0;*/
}
.daily_ques .question_option.type_2 .question_option_item label{
	border-radius: 15%;
}
.daily_ques .question_option .question_option_item span{
	flex-grow: 1;
	margin-left: 0.2rem;
	align-items: center;
	font-weight: 400;
}

.daily_ques .question_answer{
	background: #FAFAFA;
	padding:0.266667rem;
}
.daily_ques .show_descript{
	height: 0.666667rem;
	line-height: 0.666667rem;
	padding:0 0.266667rem;
	font-size: 0.4rem;
	color: #fff;
	display: inline-block;
	/*background: #FE6E3E;*/
	border-top-left-radius: 0.2rem;
	border-top-right-radius: 0.2rem;
}
.daily_ques .show_descript .icon{
	font-size: 0.32rem;
	padding-left: 0.133333rem;
}
.daily_ques .question_answer .show_answer,.daily_ques .question_answer .show_infor{
	font-size: 0.32rem;
	padding:0.2rem;
	background: #fff;
	border:0.013333rem solid #ddd;
}
.daily_ques .question_answer .show_answer{
	padding-bottom: 0;
}
.show_answer .my_answer_content,.question_answer .answer_content,.show_infor .show_analysis_cont{
	display: inline-block;
	line-height: 0.533333rem;
	font-weight: 500;
	color: #555;
}
.type5 .question_answer .answer_content{
	display: block;
}
.show_list em,.show_answer em{
	color: #888;
}
.show_answer .my_answer,.question_answer .show_list{
	margin-bottom: 0.2rem;
}
.show_lever span{
	color: #FE6E3E;
}
.daily_ques .question_answer .show_infor{
	margin-top: 0.266667rem;
}
.show_infor .show_analysis {
	margin-bottom: 0;
}

.daily_ques .more{
	font-size: 0.346667rem;
	color: #666;
	margin-top: 0.2rem;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	text-align: center;
	border-top:0.013333rem solid #ddd;
	/*padding:0.2rem;*/
}

/*题型标题*/
.ques_type_title{
	padding:0.2rem;
	font-size: 0.426667rem;
	background: #eee;
}

/*试题统计*/
.question_table{
	position: absolute;
	top: 100vh;
	bottom: 0;
	width: 100%;
	z-index: 9;
	overflow: hidden;
	/*opacity: 0;*/
	transition: all 0.3s;
	-webkit-transition:all 0.3;
	-moz-transition:all 0.3;
	-o-transition:all 0.3;
	background: #fff;
}

.flex_table{
	display: flex;
	-webkit-display:flex;
	-webkit-flex-direction:column;
	flex-direction:column;
}
.flex_main{
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.question_table_list div{
	margin-top: 0.266667rem;
	padding: 0.2rem;
}
.question_table_list div span{
	width:1.066667rem;
	height:1.066667rem;
	text-align: center;
	line-height: 1.066667rem;
	border-radius: 0.08rem;
	font-weight: 500;
	font-size: 0.4rem;
	border:1px solid #ddd;
	margin:0.133333rem;
}
.question_table_list div .now_pos{
	border-radius: 50%;
}
.question_table_list div span.bg_success,.question_table_list div span.bg_danger{
	color: #fff;
}
.table_warn{
	height:0.8rem;
	line-height:0.8rem;
	font-size: 0.346667rem
}
.table_warn span{
	margin:0 0.133333rem;
}
.table_warn i{
	display: inline-block;
	width: 0.293333rem;
	height: 0.293333rem;
	margin-right: 0.066667rem;
	border-radius: 0.026667rem;
	border:1px solid #ddd;
	position: relative;
	top: 0.026667rem;
}
.table_warn .now_pos{
	border-radius: 50%;
}


/*答题卡显示键*/
.show_table{
	position: fixed;
	right: 0.4rem;
	bottom: 2.666667rem;
	background: #999;
	color: #fff;
	width: 1.066667rem;
	height: 1.066667rem;
	line-height: 1.066667rem;
	border-radius: 50%;
	text-align: center;
	display: none;
	-moz-box-shadow:1px 2px 10px #333333; -webkit-box-shadow:1px 2px 10px #333333; box-shadow:1px 2px 10px #333333;
}
.show_table .icon{
	font-size: 0.666667rem;
	font-weight: bolder;
}

/*练习试卷信息*/
.question_table_infor{
	background: #FAFAFA;
	padding: 0.266667rem;
}
.question_table_infor .question_table_infor_cont{
	font-size: 0.346667rem;
	color:#888;
	font-weight: bold;
	padding: 0.2rem;
    background: #fff;
    border: 0.013333rem solid #ddd;
    border-radius: 0.066667rem;
    white-space:normal; 
	word-break:break-all;
}
.question_table_infor .table_infor_list{
	line-height: 0.666667rem;
}
.question_table_infor .table_infor_list em{
	flex-shrink:0;
}
.question_table_infor .table_infor_list span{
	color:#555;
}
.question_table_infor .table_infor_list .wid10{
	width: 2rem;
	display: inline-block;
}