body{
	overflow: hidden;
}
.container_body{
	overflow: hidden;
	/*padding:0.2rem;*/
}

.user_infor{
	background: #FAFAFA;
	padding:0.2rem;
}
.user_infor .user_photo{
	height: 2rem;
	overflow: hidden;
}
.user_infor .user_photo img{
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	display: block;
	font-size: 0;
	vertical-align: middle;
}
.user_infor .user_name{
	/*height: 2.0rem;*/
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	align-content:center;
	padding-left: 0.266667rem;
	padding-top: 0.133333rem;
	font-size: 0.4rem;
}
.user_infor .user_name h3{
	line-height: 1rem;
	font-size: 0.426667rem;
}
.user_infor .user_name p{
	line-height: 0.533333rem;
	color: #777;
}

.user_manage_list{
	font-size: 0.4rem;
	padding:0.2rem;
}
.user_manage_list .manage_item {
	line-height: 1.066667rem;
	border-bottom: 1px solid #ddd;
	/*box-shadow: 0 4px 5px -3px #ddd;*/
	margin-bottom: 0.2rem;
}
.user_manage_list .manage_item ul{
	margin-left: 0.4rem;
}
.user_manage_list .manage_item a{
	color: #333;
	text-decoration: none;
}
.user_manage_list .manage_item a:avtive{
	text-decoration: none;
}
.user_manage_list .manage_item ul a{
	color: #666;
}
.user_manage_list .manage_item ul .icon{
	font-size: 0.4rem;
}

.user_manage_list .manage_item .manage_item_title .icon{
	font-size: 0.4rem;
}
.user_manage_list .manage_item .manage_item_title span .icon{
	padding-right: 0.133333rem;
}

.sign_out{
	height: 1rem;
	line-height: 1rem;
	margin-top: 0.533333rem;
	margin-bottom: 0.4rem;
	font-size: 0.373333rem;
	border-radius: 0.133333rem;
}
		