@charset "utf-8";
/*.username {
	color: #333;
	float: left;
	margin-left: 10px;
	margin-top: 50px;
	line-height: 18px;
	text-align: left;
	font-size: 11px;
}*/

.userhead {
	float: left;
	margin-left: 40px;
	position: relative;
	bottom: 40px;
}

/*.username li {
	margin: -9px 0;
}*/

#welcome {
	position: relative;
	bottom: -25px;
	right: 2px;
}


/*下拉图片*/
.more{
	width:150px;
	height:70px;
	top:-29px;
	cursor:pointer;
}
.head_portrait img {
	width: 14px;
	position: relative;
	right: 20px;
	top: 15px;
}

.pull-down2 {
	z-index: 1;
	position: relative;
	left: 0px;
	width: 148px;
	height: 160px;
	border: 1px solid #DCDCDC;
	margin-top: -30px;
	background-color: white;
	border-radius: 5px;
	padding-right:10px;
}

.pull-down2 li {
	position: relative;
	top: 70px;
	width: 158px;
	height: 36px;
	padding-top: 8px;
	padding-bottom: 9px;
}

.pull-down2 li:hover {
	background-color: #EEEEEE;
}

.pull-down2 .head_portrait {
	position: relative;
	left: 50px;
	bottom: 2px;
}

.pull-down2 .family {
	position: absolute;
	left: 60px;
	top: 17px;
	cursor: pointer;
}
.pull-down2 .family a{
	color: #333;
	display: block;
}
.pull-down2 .family span{
	cursor:pointer;
}
.userhead img {
	position: relative;
	right: 20px;
}
.layui-layer .layui-layer-btn{
	text-align: right;
}
.layui-layer .layui-layer-btn-c{
	text-align: center;
}
.layui-layer a{
	font-size:13px;
}
/*更改头部效果*/
#header .link{
	position: relative;
}
#hender_bot{
	position: absolute;
	height:0;
	width:99px;
	border:1px solid #3db06e;
	opacity:0.8;
	transition:all 0.5s ease;
	top:68px;
	left:0;
}
/*更改后的用户名效果*/
#header .user_name{
	float: left;
	width:151px;
	margin-left:20px;
	line-height: 20px;
	position: relative;
}
.user_name:hover #user_top{
	display: block;
}
.user_name:hover .user_list{
	display: block;
}
.user_name .user_photo{
	height: 70px;
	cursor: pointer;
}
.user_name .user_photo img{
	width: 43px;
	height: 43px;
	/*display: block;*/
	border-radius: 50%;
}
.user_name .user_photo>span{
	display: block;
	/*height: 70px;*/
	float: left;
	margin-top:13px;
	margin-left:10px;
}
.user_name .user_photo .user_title{
	font-size: 13px;
}
.user_name .user_photo .user_title .user_title_sys{
	font-size: 12px;
	color: #888;
}

.user_list{
	position: absolute;
	padding-top:8px;
	padding-bottom:8px;
	z-index: 998;
	border: 1px solid #dcdcdc;
	border-radius: 5px;
	background: #fff;
	width:100%;
	font-size: 12px;
	color: #555;
	box-shadow: 0 0 10px #dcdcdc;
	display: none;
}
.user_list a{
	color: #555;
}
.user_list img{
	width:14px;
	height:14px;
	display: block;
	/*margin-top:-2px;*/
	margin-left:17px;
	margin-right:10px;
}
.user_list li{
	margin-left:8px;
	margin-right:8px;
	line-height: 52px;
	border-radius: 3px;
	cursor: pointer;
}
.user_list li>span{
	display: inline-block;
	height:11px;

}
.user_list li:hover{
	background: #EEEEEE;
}
#user_top{
	position: absolute;
	top:63px;
	left:65px;
	z-index: 999;
	width:20px;
	height:12px;
	display: none;
	background: url("../img/user_top.png") no-repeat center center;
}
#divheader{
	height:70px;
	background: #fff;
}