body {
	/*font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;*/
	font-family: "微软雅黑";
}

img {
	display: block;
	max-width: 100%;
}

ul,
ol {
	list-style: outside none none;
}

a {
	text-decoration: none;
	color: #999;
}


#divcontent {
	width: 1200px;
	/*height: 745px;*/
	/*background-color: white;*/
	margin: 20px auto;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
	/*height: 700px;*/
	min-height: 1040px;
	background: white;
}

#divcontent .divpapername {
	padding: 30px 0 20px 0;
	text-align: center;
	font-size: 20px;
	color: #2F96E9;
	/*line-height: 100px;*/
}

#divcontent .divtitle {
	background: #F5F5F5;
	text-align: center;
	padding: 8px;
}

#divcontent .divpapercontent {
	width: 1200px;
	/*height: 40px;*/
	/*line-height: 40px;*/
	text-align: center;
	padding: 10px;
}

#divcontent .divpapercontent div {
	padding: 10px;
}

#divcontent .divpapercontent .spanTitle {
	font-weight: bold;
	height: 40px;
}

#divcontent .divpapercontent .spanTitle .spanContent {
	font-weight: normal;
}

.style {
	border: 2px solid #222222;
	border-left: none;
	border-right: none;
	border-top: none;
	width: 100px;
}

#divcontent .left {
	width: 280px;
	/*height: 588px;*/
	float: left;
	/*margin-left: 20px;*/
	/*margin-top: 10px;*/
	padding-bottom: 20px;
	/*position: absolute;*/
}

#divcontent .right {
	width: 900px;
	height: 648px;
	/*float: right;*/
	/*margin-top: 10px;*/
	/*margin-right: 20px;*/
	overflow-y: auto;
	/*border: 1px solid #EBEBEB;*/
	/*position: absolute;*/
	/*top: 465px;*/
	margin-left: 290px;
}

#divcontent .div1 {
	width: 925px;
	height: 45px;
	background-color: #F8F8F8;
}

#divcontent .div1 div {
	line-height: 45px;
	margin-left: 29px;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #222222;
	letter-spacing: 0;
}

#div .div2 {
	/*width: 880px;*/
	/*height: 300px;*/
	/*margin: 20px;*/
}

#divcontent .div2 .one1 {
	background: #f5f5f5;
	height: 40px;
	line-height: 38px;
	font-size: 14px;
	color: #222222;
	padding-left: 20px;
	/*margin-left: 20px;*/
}

#divcontent .div2 .two1 {
	margin-left: 39px;
	font-size: 14px;
	color: #222222;
	padding-bottom: 20px;
	padding-top: 20px;
	line-height: 22px;
	float: left;
	width: 760px;
}

.answer {
	font-size: 14px;
	color: #222222;
	margin-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	line-height: 22px;
	width: 100px;
	float: right;
	padding-right: 10px;
	background: #F5F5F5;
}

.answer span {
	padding-left: 30px;
	/*text-decoration: underline;*/
	/*cursor: pointer;*/
	/*cursor: pointer;*/
	float: left;
	margin-top: -22px;
	/*padding-left: 60px;*/
	/*position: absolute;*/
	text-decoration: underline;
}

.answer span a {
	text-decoration: underline;
	color: #007AFF;
}

#divcontent .div2 .three1 {
	font-size: 14px;
	color: #222222;
	clear: both;
	margin: 0px 40px;
	/*padding-bottom: 15px;*/
}



#divcontent .div2 .four1 {
	/*height: 50px;*/
	line-height: 30px;
}

#divcontent .div2 .four1 .answered {
	margin: 10px 20px;
	border: solid 1px #DCDCDC;
	padding-left: 10px;
	font-size: 14px;
}

#divcontent .div2 .four1 span {
	margin-left: 19px;
	/*border: 1px solid #EBEBEB;*/
	/*border-radius: 50%;*/
	padding: 4.5px 8.7px;
	cursor: pointer;
	/*box-shadow: inset 0 0 4px 0 rgba(0,0,0,0.10);*/
}

#divcontent .div2 .four1 .active {
	background: #2F96E9;
	color: white;
}

#divcontent .div2 .four1 .active2 {
	background: #EFEFEF;
	color: #222222;
}

#divcontent hr {
	/*width: 880px;*/
	color: rgba(235, 235, 235, 1);
	/*margin-left: 21px;*/
	height: 1px;
	border-color: rgba(235, 235, 235, 0.5);
}

#divcontent .left .one2 {
	width: 197px;
	height: 75px;
	background: #BCCDDC;
	border-radius: 3px;
	position: relative;
}

#divcontent .left .one2 span {
	font-family: LucidaGrande;
	font-size: 14px;
	color: #FFFFFF;
	position: absolute;
	margin-left: 70px;
	margin-top: 23px;
}

#style3 {
	font-family: FontAwesome;
	font-size: 28px;
	color: #FFFFFF;
	letter-spacing: 0;
	position: absolute;
	margin-left: 85px;
	margin-top: 11px;
	cursor: pointer;
}

#divcontent .left .one3 {
	width: 197px;
	height: 75px;
	background: #9CD1C7;
	border-radius: 3px;
	position: relative;
	margin-top: 13px;
}

#divcontent .left .one3 span {
	font-family: LucidaGrande;
	font-size: 14px;
	color: #FFFFFF;
	position: absolute;
	margin-left: 75px;
	margin-top: 23px;
}

#divcontent .left .divcard {
	width: 280px;
	/*height: 150px;*/
	position: relative;
	background-color: #F8F8F8;
	border: 1px solid #EBEBEB;
	border-radius: 3px;
	/*margin-top: 13px;*/
	padding: 5px;
	line-height: 28px;
}


/*已答*/

#divcontent .left .divcard2 .yesAnswer {
	border: 1px solid #db856d;
	border-radius: 3px;
	padding: 0px 2px;
	color: white;
	background: #db856d;
	font-family: PingFangSC-Medium;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 0;
	cursor: pointer;
	/*display:-moz-inline-box;
	display:inline-block;
	width: 20px;*/
}


/*未答*/

#divcontent .left .divcard2 .notAnswer {
	border: 1px solid #a3bcc9;
	border-radius: 3px;
	padding: 0px 2px;
	color: white;
	background: #a3bcc9;
	font-family: PingFangSC-Medium;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 0;
	cursor: pointer;
}


/*未答鼠标移上去*/

#divcontent .left .divcard2 .notAnswer:hover {
	border: 1px solid #2F96E9;
	background: #2F96E9;
}

#divcontent .left .two5 {
	font-size: 12px;
	color: #222222;
	letter-spacing: 0;
}

#divcontent .left .two5 span {
	margin-left: 8px;
}

#divcontent .left .div3 {
	width: 197px;
	height: 75px;
	position: relative;
	background: #DBC6BC;
	border-radius: 3px;
	margin-top: 13px;
}

#divcontent .left .div3 span {
	font-family: LucidaGrande;
	font-size: 14px;
	color: #FFFFFF;
	position: absolute;
	margin-left: 68px;
	margin-top: 23px;
}

#divcontent .left .div4 {
	width: 197px;
	height: 75px;
	position: relative;
	background: #DAADAD;
	border-radius: 3px;
	margin-top: 13px;
}

#divcontent .left .div5 {
	width: 197px;
	height: 75px;
	position: relative;
	background: #A6C9E2;
	border-radius: 3px;
	margin-top: 13px;
}

#divcontent .left .div4 span {
	font-family: LucidaGrande;
	font-size: 14px;
	color: #FFFFFF;
	position: absolute;
	margin-left: 68px;
	margin-top: 23px;
}

#divcontent .left .div5 span {
	font-family: LucidaGrande;
	font-size: 14px;
	color: #FFFFFF;
	position: absolute;
	margin-left: 68px;
	margin-top: 23px;
}


/*单选样式*/

.radio {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.labelRadio {
	border: solid 1px #DCDCDC;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	padding: 5px 10px;
	margin-left: 15px;
	color: black;
}

.chooseRadio {
	border: solid 1px #FE6422;
	background: #FE6422;
	color: white;
}


/*多选样式*/

.checkbox {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.labelCheckbox {
	border: solid 1px #DCDCDC;
	height: 40px;
	width: 40px;
	border-radius: 20%;
	padding: 5px 10px;
	margin-left: 15px;
	color: black;
}

.chooseCheckbox {
	border: solid 1px #FE6422;
	background: #FE6422;
	color: white;
}


/*判断题*/

.labelTrueFalse {
	border: solid 1px #DCDCDC;
	height: 40px;
	width: 40px;
	border-radius: 20%;
	padding: 5px 10px;
	margin-left: 15px;
	color: black;
}

.chooseTrueFalse {
	border: solid 1px #FE6422;
	background: #FE6422;
	color: white;
}


/*填空题输入框样式*/

.questionInput {
	border: 0px;
	border-bottom: solid 1px #000000;
}


/*简答题*/

.questionTextArea {
	width: 600px;
	height: 120px;
	border: solid 1px #DCDCDC;
	resize: none;
}


/*弹出选项分*/

#divsetter {
	position: absolute;
	border: none;
	padding: 3px;
	display: none;
}

.tm_lnk_score {
	display: block;
	float: left;
	padding: 2px;
	border: solid 1px #f00;
	margin-right: 2px;
	margin-bottom: 2px;
	width: 17px;
	height: 17px;
	text-align: center;
	text-decoration: none;
	background: #fff
}

.tm_lnk_score:hover {
	background: #f00;
	color: #fff;
	font-weight: bold
}

.cancel {
	background: #30bf89;
	border: 0px;
	color: white;
	border-radius: 4px;
	padding: 5px 10px;
}