
body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
}



#divcontent {
	width: 1200px;
	/*height: 600px;*/
	margin: 20px auto;
	clear: both;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
}

#divcontent .divtitle {
	width: 1200px;
	height: 75px;
	line-height: 90px;
	background-color: white;
	color: #30bf89;
	font-size: 20px;
	border-bottom: 2px solid #7CE3A7;
	text-align: center;
}

#divcontent .section {
	width: 1200px;
	/*height: 700px;*/
	background-color: white;
}

#divcontent .search {
	width: 1200px;
	height: 60px;
	background-color: #f3f9fc;
}

#divcontent .search span {
	line-height: 60px;
	opacity: 0.8;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #222222;
	letter-spacing: 0;
	margin: 10px;
}

#divcontent .search .spanpapername {
	margin-left: 40px;
	border-radius: 3px;
}

#divcontent .search .four {
	background: #17b55b;
	border: 1px solid #17b55b;
	border-radius: 3px;
	padding: 5px 10px;
	font-family: PingFangSC-Medium;
	font-size: 14px;
	color: #FFFFFF;
	cursor: pointer;
}

#divcontent .divsubcontent {
	width: 1200px;
	min-height: 400px;
	/*height: 500px;*/
	/*margin-left: 40px;*/
}

#divcontent .section table {
	width: 1140px;
	margin: 0 auto;
}

#divcontent .section table td {
	padding: 10px;
	border-bottom: solid 1px #DCDCDC;
	font-size: 14px;
}

#divcontent .section table .td1 {
	width: 800px;
	text-align: left;
}

#divcontent .section table .td2 {
	width: 150px;
}

#divcontent .section table .td3 {
	width: 150px;
}

#divcontent .section table .td4 {
	width: 100px;
	text-align: right;
}

a {
	text-decoration: none;
	color: #999;
}

#divcontent .section table .td4 a {
	border: solid 1px #dcdcdc;
	padding: 5px 8px;
	border-radius: 4px;
	color: #000000;
}

#divcontent .section table .td4 a:hover {
	background: #17b55b;
	border: solid 1px #17b55b;
	color: white;
}

.divPage {
	margin-top: 10px;
	width: 1200px;
	height: 70px;
	text-align: center;
	line-height: 70px;
	clear: both;
}

.divPage a {
	padding: 6px 12px;
	border: solid 1px #DCDCDC;
	border-radius: 6px;
	font-size: 14px;
	color: #999;
}

.divPage a:hover {
	background: #BFBFC7;
	color: white;
}

.divPage .curr {
	border: solid 1px #BFBFC7;
	background: #BFBFC7;
	color: white;
}

.divPage .disabled {
	display: none;
}
/*===============练习记录列表*/
.sections {
	background: rgba(0, 0, 0, 0) url("../../img/kaoshi.png") no-repeat scroll 14px center;
	border: 1px solid #dcdcdc;
	margin: 10px auto 0;
	min-height: 109px;
	width: 1160px;
}
.sections:hover{
	border: 1px solid #19b478;
}
.div5 {
	height: 30px;
	padding-top: 20px;
}
.div5 .three1 {
	color: #30bf89;
	float: left;
	font-size: 16px;
	margin-left: 100px;
}
.div5 .three2 {
	color: #777;
	float: right;
	font-size: 12px;
	margin-right: 15px;
}
.div6 {
	clear: both;
	height: 30px;
	padding-top: 20px;
}
.div6 .one6 {
	color: #777;
	float: left;
	font-size: 14px;
	margin-left: 100px;
}
.div6 .two6 {
	background-color: #d8e6ef;
	color: #4d6c88;
	float: right;
	font-size: 12px;
	margin-right: 15px;
	margin-top: 5px;
	padding: 4px 10px;
}
.div6 .two6:hover{
	background: #3db06e;
	color: #fff;
}